---
type ButtonLink = {
	label?: string;
	href?: string;
	class?: string;
	type?: string;
	form?: string;
};

const { title, buttonList } = Astro.props;
---

<header class="nav d-flex align-items-center justify-content-between gap-3 mb-2">
	<div class="d-flex p-2 gap-2">
		<a href="/dashboard" class="brand d-flex p-1 align-self-center">
			<img
				src="../src/assets/images/logo.svg"
				alt="Open Spot logo"
				class="img-fluid"
				style="width: 100px; height: 36px; padding: 0 5px; border-radius: 10px;box-shadow: 0 8px 20px rgba(90,162,255,.35);"
			/>
		</a>
		<div class="title fw-semibold mt-2" style="letter-spacing: -0.02em;">
			{title}
		</div>
	</div>
	<div class="navBtns d-flex gap-2">
		{
			buttonList &&
				buttonList.map((button: ButtonLink) =>
					button.type === "submit" ? (
						<button type="submit" form={button.form} class={button.class}>
							{button.label}
						</button>
					) : (
						<a href={button.href} class={button.class}>
							{button.label}
						</a>
					)
				)
		}
	</div>
</header>
