---
import type { Location, Permit, User } from "../../../../shared/src";
import PresentNumber from "./PresentNumber.astro";
import EditButton from "./EditButton.astro";
import NavIcon from "./navIcon.astro";

interface Props {
	user: User;
	location: Location;
	addressString: string;
	used: number;
	total: number;
	p: number;
}

const { user, location, addressString, used, total, p } = Astro.props;
---

<div class="text-end d-grid gap-2" style="align-items: start;">
	<PresentNumber p={p} />
	{user.role === "ADMIN" && <EditButton location={location} used={used} total={total} />}
	<NavIcon addressString={addressString} name={location.name} />
</div>
